{% extends 'base.html.twig' %}

{% block body %}
    Ecole {{ ecole.nom }}
{% endblock %}

{% block body %}

        <h1>{{ ecole.nom }}: {{ ecole.adresse }}</h1>

        Etudiants : {{ ecole.etudiant.nom }} {{ ecole.etudiant.prenom }}

{% endblock %}
